In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date
from pyspark.sql.functions import col
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql import functions as F
# Initialize Spark session
spark = SparkSession.builder \
    .appName("MovieLensDataProcessing") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/11 12:19:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
ratings_df = spark.read.csv("data_mk/u.data", sep="\t", inferSchema=True, header=False) \
    .toDF("user_id", "movie_id", "rating", "timestamp")
# Show the first few rows of the data
ratings_df.show()

+-------+--------+------+---------+
|user_id|movie_id|rating|timestamp|
+-------+--------+------+---------+
|    196|     242|     3|881250949|
|    186|     302|     3|891717742|
|     22|     377|     1|878887116|
|    244|      51|     2|880606923|
|    166|     346|     1|886397596|
|    298|     474|     4|884182806|
|    115|     265|     2|881171488|
|    253|     465|     5|891628467|
|    305|     451|     3|886324817|
|      6|      86|     3|883603013|
|     62|     257|     2|879372434|
|    286|    1014|     5|879781125|
|    200|     222|     5|876042340|
|    210|      40|     3|891035994|
|    224|      29|     3|888104457|
|    303|     785|     3|879485318|
|    122|     387|     5|879270459|
|    194|     274|     2|879539794|
|    291|    1042|     4|874834944|
|    234|    1184|     2|892079237|
+-------+--------+------+---------+
only showing top 20 rows

In [14]:
films_df = spark.read.csv("data_mk/u.item", sep="|", inferSchema=True, header=False) \
    .toDF("movie_id", "title", "release_date", "video_release_date", "IMDb_url", "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western")

In [16]:
users_df = spark.read.csv("data_mk/u.user", sep="|", inferSchema=True, header=False) \
    .toDF("user_id", "age", "gender", "occupation", "zip_code")
users_df.toPandas()

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [ ]:
# Drop the timestamp column since it's not needed for the collaborative filtering model
ratings_df = ratings_df.drop("timestamp")

In [22]:
ratings_with_movie_titles = ratings_df.join(films_df.select("movie_id", "title"), on="movie_id", how="left")
ratings_with_movie_titles.toPandas()

       movie_id  user_id  rating  timestamp                         title
0           242      196       3  881250949                  Kolya (1996)
1           302      186       3  891717742      L.A. Confidential (1997)
2           377       22       1  878887116           Heavyweights (1994)
3            51      244       2  880606923    Legends of the Fall (1994)
4           346      166       1  886397596           Jackie Brown (1997)
...         ...      ...     ...        ...                           ...
99995       476      880       3  880175444  First Wives Club, The (1996)
99996       204      716       5  879795543     Back to the Future (1985)
99997      1090      276       1  874795795                 Sliver (1993)
99998       225       13       2  882399156         101 Dalmatians (1996)
99999       203       12       3  879959583             Unforgiven (1992)

[100000 rows x 5 columns]

In [24]:
films_df.toPandas()

,movie_id,title,release_date,video_release_date,IMDb_url,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,None,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,None,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,None,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,None,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,None,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,None,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,None,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,None,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,None,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,None,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
genre_columns = [col for col in films_df.columns if col not in ['movie_id', 'title', 'release_date', 
                                                                'video_release_date', 'IMDb_url']]

In [31]:
print(genre_columns)

['unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [33]:
for genre in genre_columns:
    ratings_with_movie_titles = ratings_with_movie_titles.join(films_df.select("movie_id", genre), 
                                                               on="movie_id", how="left")

In [38]:
(training_data, test_data) = ratings_df.randomSplit([0.8, 0.2], seed=1234)

In [39]:
als = ALS(userCol="user_id", itemCol="movie_id", ratingCol="rating", coldStartStrategy="drop")

In [40]:
als_model = als.fit(training_data)

In [41]:
predictions = als_model.transform(test_data)

In [42]:
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)

In [46]:
print(rmse)

0.9240972528145989

In [48]:
user_recommendations = als_model.recommendForAllUsers(6)

# Example: Show recommendations for the first user
user_recommendations.show(truncate=False)

[Stage 385:=========================================>            (77 + 9) / 100]

+-------+-----------------------------------------------------------------------------------------------------------------+
|user_id|recommendations                                                                                                  |
+-------+-----------------------------------------------------------------------------------------------------------------+
|1      |[{1589, 5.5392904}, {1449, 5.0326757}, {613, 5.031781}, {169, 4.9561973}, {408, 4.9103785}, {119, 4.893077}]     |
|2      |[{1463, 5.348398}, {1449, 4.9564934}, {1643, 4.951976}, {1398, 4.869051}, {1642, 4.817443}, {1122, 4.702278}]    |
|3      |[{838, 4.6144404}, {1142, 4.455568}, {320, 4.396119}, {205, 4.285173}, {1388, 4.1488476}, {50, 4.0550604}]       |
|4      |[{1251, 5.862391}, {1589, 5.7110167}, {793, 5.643307}, {958, 5.61551}, {1463, 5.599249}, {1150, 5.4867496}]      |
|5      |[{114, 4.8318996}, {793, 4.716633}, {838, 4.6926055}, {1589, 4.65665}, {169, 4.6106434}, {613, 4.6097617}]       |
|6      |[{1463, 5.2188253}, {1643, 4.9225264}, {838, 4.6119742}, {1512, 4.547836}, {1398, 4.526959}, {483, 4.500933}]    |
|7      |[{1643, 5.799615}, {1463, 5.5847836}, {1449, 5.198847}, {1398, 5.0709977}, {1642, 5.05906}, {1122, 5.045202}]    |
|8      |[{1463, 5.536923}, {1643, 5.2848945}, {1449, 5.034207}, {513, 4.906703}, {483, 4.895617}, {838, 4.8887396}]      |
|9      |[{1664, 5.7791862}, {1216, 5.3203006}, {1467, 5.3057613}, {1643, 5.2949324}, {1367, 5.278695}, {1134, 5.1723504}]|
|10     |[{1463, 5.4296613}, {1643, 5.3672714}, {1449, 5.090598}, {1398, 5.0060863}, {1642, 4.9186187}, {318, 4.9005537}] |
|11     |[{1463, 4.898518}, {1449, 4.560306}, {1398, 4.427161}, {1450, 4.3900223}, {1122, 4.3521147}, {1589, 4.3326716}]  |
|12     |[{1463, 5.345305}, {1450, 5.2871885}, {64, 5.1872225}, {318, 5.088709}, {113, 5.085126}, {313, 5.0763016}]       |
|13     |[{1463, 5.11833}, {851, 4.840408}, {745, 4.7762165}, {867, 4.764555}, {1473, 4.763427}, {868, 4.7448072}]        |
|14     |[{1463, 5.2002583}, {169, 5.1037593}, {851, 5.0788207}, {1589, 5.0376043}, {408, 5.026796}, {114, 4.974559}]     |
|15     |[{1233, 4.535444}, {1463, 4.41929}, {936, 4.3729477}, {1160, 4.2555737}, {557, 4.231019}, {286, 4.1747065}]      |
|16     |[{1643, 5.822375}, {1463, 5.4468}, {1467, 5.4161415}, {318, 5.218193}, {64, 5.214924}, {1450, 5.163649}]         |
|17     |[{613, 4.6405945}, {838, 4.4718122}, {50, 4.312438}, {408, 4.282725}, {171, 4.281005}, {114, 4.2629547}]         |
|18     |[{1463, 5.161896}, {1449, 4.784906}, {1398, 4.7500806}, {1589, 4.693933}, {1450, 4.5911407}, {1642, 4.5731974}]  |
|19     |[{1463, 5.135977}, {1643, 4.95985}, {1449, 4.9146214}, {1589, 4.7524385}, {1367, 4.737522}, {851, 4.729562}]     |
|20     |[{1260, 4.440631}, {1313, 4.3414993}, {867, 4.332897}, {776, 4.236536}, {1167, 4.199055}, {278, 4.071692}]       |
+-------+-----------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [49]:
user_recommendations.show(10, truncate=False)

[Stage 434:=====================================================>(99 + 1) / 100]

+-------+-----------------------------------------------------------------------------------------------------------------+
|user_id|recommendations                                                                                                  |
+-------+-----------------------------------------------------------------------------------------------------------------+
|1      |[{1589, 5.5392904}, {1449, 5.0326757}, {613, 5.031781}, {169, 4.9561973}, {408, 4.9103785}, {119, 4.893077}]     |
|2      |[{1463, 5.348398}, {1449, 4.9564934}, {1643, 4.951976}, {1398, 4.869051}, {1642, 4.817443}, {1122, 4.702278}]    |
|3      |[{838, 4.6144404}, {1142, 4.455568}, {320, 4.396119}, {205, 4.285173}, {1388, 4.1488476}, {50, 4.0550604}]       |
|4      |[{1251, 5.862391}, {1589, 5.7110167}, {793, 5.643307}, {958, 5.61551}, {1463, 5.599249}, {1150, 5.4867496}]      |
|5      |[{114, 4.8318996}, {793, 4.716633}, {838, 4.6926055}, {1589, 4.65665}, {169, 4.6106434}, {613, 4.6097617}]       |
|6      |[{1463, 5.2188253}, {1643, 4.9225264}, {838, 4.6119742}, {1512, 4.547836}, {1398, 4.526959}, {483, 4.500933}]    |
|7      |[{1643, 5.799615}, {1463, 5.5847836}, {1449, 5.198847}, {1398, 5.0709977}, {1642, 5.05906}, {1122, 5.045202}]    |
|8      |[{1463, 5.536923}, {1643, 5.2848945}, {1449, 5.034207}, {513, 4.906703}, {483, 4.895617}, {838, 4.8887396}]      |
|9      |[{1664, 5.7791862}, {1216, 5.3203006}, {1467, 5.3057613}, {1643, 5.2949324}, {1367, 5.278695}, {1134, 5.1723504}]|
|10     |[{1463, 5.4296613}, {1643, 5.3672714}, {1449, 5.090598}, {1398, 5.0060863}, {1642, 4.9186187}, {318, 4.9005537}] |
+-------+-----------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [51]:
als_model.save("maching_learning_model/als_model")

from pyspark.ml.recommendation import ALSModel
loaded_model = ALSModel.load("data_mk/als_model")

25/03/11 14:43:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

Py4JJavaError: An error occurred while calling o532.load.
: org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: file:/opt/spark-data/data_mk/als_model/metadata
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:304)
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:244)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:332)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:210)
	at org.apache.spark.rdd.RDD.$anonfun$partitions$2(RDD.scala:294)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:290)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:49)
	at org.apache.spark.rdd.RDD.$anonfun$partitions$2(RDD.scala:294)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:290)
	at org.apache.spark.rdd.RDD.$anonfun$take$1(RDD.scala:1471)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.take(RDD.scala:1465)
	at org.apache.spark.rdd.RDD.$anonfun$first$1(RDD.scala:1506)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.first(RDD.scala:1506)
	at org.apache.spark.ml.util.DefaultParamsReader$.loadMetadata(ReadWrite.scala:587)
	at org.apache.spark.ml.recommendation.ALSModel$ALSModelReader.load(ALS.scala:563)
	at org.apache.spark.ml.recommendation.ALSModel$ALSModelReader.load(ALS.scala:557)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.base/java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Unknown Source)
Caused by: java.io.IOException: Input path does not exist: file:/opt/spark-data/data_mk/als_model/metadata
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:278)
	... 35 more

In [52]:
# Stop Spark session
spark.stop()